<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go+ Community</title>
    <link rel="icon" href="static/img/favicon.svg">

    <!-- Share to Twitter -->
    <meta charset="UTF-8">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="GoplusCommunity">
    <meta name="twitter:description" content="GoplusCommunity">
    <meta name="twitter:image" content="https://public-cdn.mokahr.com/72f7c42e-b069-4e14-9c29-ee20229cc256.png">

    <!-- Share to Facebook -->
    <meta name="description" content="GoplusCommunity">
    <meta property="og:title" content="GoplusCommunity">
    <meta property="og:description" content="GoplusCommunity">
    <meta property="og:image" content="https://public-cdn.mokahr.com/72f7c42e-b069-4e14-9c29-ee20229cc256.png">
    <meta property="og:type" content="website">

    <!-- UI -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/naive-ui"></script>

    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/bold/style.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <!-- Font -->
    <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.proxy.ustclug.org">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.proxy.ustclug.org/css2?family=Noto+Sans+SC&display=swap" rel="stylesheet">

    <!-- markdown -->
    <link rel="stylesheet" href="/static/GoplusMarkdown/style.css">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css">
    <script data-widgets="code" src="https://goplus.org/widgets/loader.js"></script>

    <style type="text/css" media="screen, print">
        body {
            font-family: 'Inter', 'Noto Sans SC'
        }
    </style>
</head>

<script src="https://cdn.plyr.io/3.6.8/plyr.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script data-widgets="code" src="https://goplus.org/widgets/loader.js"></script>
<script src="/static/GoplusMarkdown/GoplusMarkdown.umd.cjs"></script>

<script type="importmap">
  { "imports": { 
      "vue":        "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.esm-browser.prod.js", 
      "vue-router": "https://cdnjs.cloudflare.com/ajax/libs/vue-router/4.1.5/vue-router.esm-browser.min.js" 
  } } 
</script>

<body style="background-color: #f7fafc;">
    {{ template "header" .}}

    <!-- Content -->
    <div id="app" class="h-full w-full" style="padding: 10px 30px;">
        <!-- Breadcrumb -->
        <n-breadcrumb class="mb-3">
            <n-breadcrumb-item href="/">
                <i class="ph-duotone ph-house" style="font-size: 18px; margin-right: 5px;"></i>
                Home
            </n-breadcrumb-item>
            <!-- <n-breadcrumb-item>
                <i class="ph ph-article-medium" style="font-size: 18px; margin-right: 5px;"></i>
                Article
            </n-breadcrumb-item> -->
            <n-breadcrumb-item>
                <i class="ph ph-article-medium"
                    style="font-size: 18px; margin-right: -15px; color: transparent;"></i>
                <span style="font-weight: 600;">${ article.Title }</span>
            </n-breadcrumb-item>
        </n-breadcrumb>

        <!-- Article -->
        <div class="flex flex-col items-center">
            <div style="border-radius: 10px; background: white; width: 70%;
            box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05); padding: 20px 50px;">
                <!-- Header -->
                <header class="mb-4 not-format">
                    <div class="flex flex-row" :style="{'justify-content': article.Tags ? 'space-between' : 'right'}">
                        <!-- Tags -->
                        <div v-if="article.Tags" class="flex flex-row items-center">
                            <span v-for="(item, index) in article.Tags.split(';')"
                                style="background-color: #cee1f5;"
                                class="mr-3 inline-flex items-center font-medium px-2.5 py-0.5 rounded-full">
                                <span class="w-2 h-2 me-1 rounded-full mr-1" style="background-color: #3182ce;"></span>
                                <a :href="'/search?value=' + item">${ item }</a>
                            </span>
                        </div>

                        <!-- Translate Button -->
                        <n-dropdown :options="transOptions" trigger="hover" width="150" @select="selectDropdown"
                            style="margin-left: auto">
                            <n-button @click="translateMd" class="ml-2"
                                style="--n-border-radius: 7px; --n-ripple-color: #7ba7d3; 
                                    --n-text-color-hover: #3182ce; --n-text-color-pressed: #3182ce;
                                    --n-text-color-focus: #3182ce; --n-border-hover: 1px solid #3182ce;
                                    --n-border-pressed: 1px solid #3182ce; --n-border-focus: 1px solid #3182ce;">
                                <template #icon>
                                    <i class="ph-bold ph-translate" style="color: #3182ce;"></i>
                                </template>
                                <span style="font-weight: 600; color: #3182ce;">Translate</span>
                            </n-button>
                        </n-dropdown>
                    </div>

                    <!-- Title -->
                    <h1 class="my-4 text-3xl font-extrabold leading-tight text-gray-900">
                        ${ article.Title }
                    </h1>

                    <!-- Avatar & Nick Name -->
                    <div class="flex flex-row items-center" style="margin: 20px 0;">
                        <!-- Avatar -->
                        <img class="w-12 h-12 rounded-full mr-2" :src="article.User.Avatar || '/static/img/gop-avatar.png'"
                            alt="Rounded avatar">

                        <div>
                            <!-- Nick Name -->
                            <a :href="'/user/'+article.User.Id">
                                <span style="font-size: 18px; margin-left: 10px; font-weight: 600;">${ article.User.Name }<br></span>
                            </a>
                            <div class="flex items-center">
                                <!-- Update Time -->
                                <p class="text-sm" style="color: #a0aec0; margin-left: 10px;">
                                    <time pubdate>
                                        Updated this article on ${ article.Mtime.slice(0,10) }
                                    </time>
                                </p>

                                <!-- Views -->
                                <div class="inline-flex items-center text-sm" style="margin-left: 30px;">
                                    <i class="ph-duotone ph-eye" style="font-size: 18px; color: #a0aec0;"></i>
                                    <p class="ml-1 text-sm" style="color: #a0aec0;">${ article.ViewCount }</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Button Group -->
                    <div class="flex items-center justify-between">
                        {{if .User}}
                        <!-- Like Button -->
                        <div class="flex items-center">
                            <!-- Like Button -->
                            <n-tooltip trigger="hover" placement="bottom" v-if="!isLiked">
                                <template #trigger>
                                    <n-button quaternary circle @click="likeArticle(article.Id)">
                                        <template #icon>
                                            <i class="ph-bold ph-heart" style="color: #ef4444; font-size: 20px;"></i>
                                        </template>
                                    </n-button>
                                </template>
                                Like this article
                            </n-tooltip>

                            <!-- Unlike Button -->
                            <n-tooltip trigger="hover" placement="bottom" v-else>
                                <template #trigger>
                                    <n-button quaternary circle @click="likeArticle(article.Id)">
                                        <template #icon>
                                            <i class="ph-fill ph-heart" style="color: #ef4444; font-size: 20px;"></i>
                                        </template>
                                    </n-button>
                                </template>
                                Unlike this article
                            </n-tooltip>

                            <!-- Like numbers -->
                            <n-badge :value="likeCount" color="transparent" style="margin-left: -5px; --n-font-size: 15px;" show-zero></n-badge>
                        </div>
                        {{ else }}
                        <div class="flex items-center justify-between">
                            <i class="ph-bold ph-heart" style="font-size: 20px; color: #ef4444;"></i>
                            <n-badge :value="likeCount" color="transparent" style="margin-left: -2px; --n-font-size: 15px;" show-zero></n-badge>
                            <!-- <p class="ml-1 text-sm" style="color: #a0aec0;">${ likeCount }</p> -->
                        </div>
                        {{ end }}
                        <!-- Quick Sharing -->
                        <div class="flex items-center">
                            <span class="mr-2" style="color: #a0aec0;">Share to</span>

                            <!-- Facebook Button -->
                            <n-tooltip trigger="hover" placement="bottom">
                                <template #trigger>
                                    <n-button text class="mr-2" style="--n-text-color-hover: #3182ce;
                                            --n-text-color-pressed: #3182ce;
                                            --n-text-color-focus: #3182ce;
                                            --n-text-color: #a0aec0;" @click="shareToFacebook">
                                        <i class="ph-fill ph-facebook-logo" style="font-size: 20px;"></i>
                                    </n-button>
                                </template>
                                Facebook
                            </n-tooltip>

                            <!-- Twitter Button -->
                            <n-tooltip trigger="hover" placement="bottom">
                                <template #trigger>
                                    <n-button text class="mr-2" style="--n-text-color-hover: #3182ce;
                                            --n-text-color-pressed: #3182ce;
                                            --n-text-color-focus: #3182ce;
                                            --n-text-color: #a0aec0;" @click="shareToTwitter">
                                        <i class="ph-fill ph-twitter-logo" style="font-size: 20px;"></i>
                                    </n-button>
                                </template>
                                Twitter / X
                            </n-tooltip>

                            <!-- WeChat Button -->
                            <n-tooltip trigger="hover" placement="bottom">
                                <template #trigger>
                                    <n-button text class="mr-2" style="--n-text-color-hover: #3182ce;
                                            --n-text-color-pressed: #3182ce;
                                            --n-text-color-focus: #3182ce;
                                            --n-text-color: #a0aec0;">
                                        <i class="ph-fill ph-wechat-logo" style="font-size: 20px;"></i>
                                    </n-button>
                                </template>
                                <div class="flex flex-col items-center">
                                    <span class="mb-1">WeChat</span>
                                    <n-qr-code :value="currentHref" class="mb-1" style="padding: 0;"></n-qr-code>
                                    <span style="font-size: x-small;">scan the QR Code</span>
                                </div>
                            </n-tooltip>
                        </div>
                    </div>

                    <hr class="hr-edge-weak" style="margin: 15px 0;">
                </header>

                <!-- Cover -->
                <!-- <div class="img-container">
                    <img class="w-12 h-12" :src="article.Cover" alt="Article Cover" />
                </div> -->

                <!-- Content -->
                <markdown-viewer :md="article.Content"></markdown-viewer>
            </div>
        </div>

        <!-- The End -->
        <p class="text-xs text-center mt-3" style="color: #a0aec0;">- THE END -</p>

        <!-- Back Top -->
        <n-back-top :right="50" style="--n-icon-color: #3182ce; --n-icon-color-hover: #d3dfe9;
        --n-icon-color-pressed: #3182ce;">
            <i class="ph-duotone ph-arrow-line-up" style="color: #3182ce; font-size: 25px;"></i>
        </n-back-top>
    </div>

    <script>
        const parseArticle = JSON.parse("{{.Article}}");
        const parseLikeState = "{{.LikeState}}"
        // const parseUser = "{{.User}}"
    </script>

    <script type="module">
        const { reactive, toRefs, ref, h } = Vue;

        /*======= article related =======*/
        const article = ref(parseArticle);
        const originArticle = parseArticle;

        let transArticle = {}
        const transOptions = [
            {
                label: "Original",
                key: "original"
            },
            {
                key: "divider",
                type: "divider"
            },
            {
                label: "English",
                key: "english"
            }
        ];
        const isOrigin = ref(true)
        
        function selectDropdown(key) {
            if (key === 'original' && !isOrigin.value) {
                console.log("origin")
                article.value = originArticle
                isOrigin.value = true
            } else if (key === 'english' && isOrigin.value) {
                console.log("english")
                // translate
                if (transArticle.Content) {
                    article.value = transArticle
                } else {
                    fetch("/api/translation/" + article.value.ID)
                        .then(res => {
                            return res.json();
                        })
                        .then(todos => {
                            if (todos.code === 200) {
                                article.value.Title = todos.title
                                article.value.Content = todos.content
                                article.value.Tags = todos.tags
                                transArticle = article.value
                            }
                        });
                }
                isOrigin.value = false
            }
        };

        const isLiked = ref(parseLikeState === "true" ? true : false)
        const likeCount =ref(article.value.LikeCount || 0)
        function likeArticle(id) {
            console.log(article.value.ID)
            const options = {
                method: 'POST',
            }
            fetch("/api/article/like?articleId="+article.value.ID, options)
                .then(res=> res.json())
                .then(todos => {
                    if(todos.code === 200){
                        likeCount.value = likeCount.value + (todos.data ? 1 : -1)
                        isLiked.value = todos.data
                    }
                                        
                });
        }
    
        /*======= share related functions =======*/
        const currentHref = ref(window.location.href);

        function shareToFacebook() {
            var w = 900;
            var h = 600;
            wLeft = window.screenLeft ? window.screenLeft : window.screenX;
            wTop = window.screenTop ? window.screenTop : window.screenY;
            var left = wLeft + (window.innerWidth / 2) - (w / 2);
            var top = wTop + (window.innerHeight / 2) - (h / 2);
            var url = window.location.href;
            var shareUrl = "http://www.facebook.com/sharer/sharer.php?u=" + url;
            var title = 'facebook';

            window.open(shareUrl, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
        };

        editMetaUrl()
        function editMetaUrl() {
            // Get the URL of the current page
            var currentUrl = window.location.href;

            // Find the og: URL attribute in the<meta>tag
            var ogUrlMeta = document.querySelector('meta[property="og:url"]');

            // If the<meta>tag is found and the og: URL attribute exists
            if (ogUrlMeta) {
                // Set the content of the og: URL attribute to the URL of the current page
                ogUrlMeta.setAttribute('content', currentUrl);
            }
        }

        function shareToTwitter() {
            // var url = encodeURIComponent('http://8.130.26.238/animation/fb.html');
            // var text = encodeURIComponent('Linz');
            var url = window.location.href;
            var hashtags = "GoplusComminty";
            var intentUrl = "https://twitter.com/intent/tweet?url=" + encodeURIComponent(url)
                + "&hashtags=" + encodeURIComponent(hashtags);
            // var shareUrl = 'https://twitter.com/intent/tweet?text=' + text + '&url=' + url;
            window.open(intentUrl, "_blank", "width=900, height=600");
        };

        /*======= register vue component =======*/
        const app = Vue.createApp({
            data() {
                return {
                    currentHref,
                    article,
                    isOrigin,
                    transOptions,
                    isLiked,
                    likeCount,
                }
            },
            methods: {
                shareToFacebook,
                shareToTwitter,
                selectDropdown,
                likeArticle,
            },
            components: {
                MarkdownViewer: window.GoplusMarkdown.MarkdownViewer
            },
            mounted() {
                const p = new Plyr('video', { captions: { active: true } });
                var htmlStr = document.documentElement.outerHTML; // 获取完整的HTML结构
                console.log("===============", htmlStr)
            }
        });

        app.use(naive)
        app.config.compilerOptions.delimiters = ['${', '}']
        app.mount('#app')
    </script>
</body>

</html>

<style>
    a:hover {
        color: #3182ce;
    }

    h1,h2,h3,h4,h5,h6 {
        font-size: revert !important;
        font-weight: revert !important;
    }

    .n-breadcrumb-item__link {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50vh;
        background-color: #f4f4f5d1;
        margin-bottom: 10px;
    }

    .img-container img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .n-badge .n-badge-sup {
        color: black;
    }

    .hr-edge-weak {
        border: 0;
        padding-top: 1.5px;
        background: linear-gradient(to right, transparent, #e0e0e6, transparent);
    }

    .n-qr-code {
        background: #262626 !important;
    }
</style>