@font-face {
    font-family: 'Inter-Regular'; /* 重命名字体名 */
    src: url('./Inter-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold'; /* 重命名字体名 */
    src: url('./Inter-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '思源黑体-Regular'; /* 重命名字体名 */
    src: url('./SourceHanSansCN-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '思源黑体-Bold'; /* 重命名字体名 */
    src: url('./SourceHanSansCN-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '优设标题黑'; /* 重命名字体名 */
    src: url('./YousheTitleBlack.ttf');
    font-weight: normal;
    font-style: normal;
}